.container {
  margin: 15px;
  overflow: hidden;
  width: 350px;
  position: relative;
  border: 1px solid #e7eaec;
  padding: 10px 0;
}

.title {
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}

.itemSelect {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.shippingDisable {
  opacity: 0;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 2px;
}

.shippingActive {
  opacity: 1;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 2px;
  transition: opacity 1s;
  background-color: #FFF;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
  height: 500px;
  background-color: #FFF;
  z-index: 9;
}

.shippingContainer {
  display: flex;
  align-items: center;
}

.itemSelect:hover {
  background-color: #ecf0f1;
}

.item:hover {
  background-color: #ecf0f1;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0 10px
}

.itemContent {
  margin: 0 10px;
}

.itemContainer {
  display: flex;
  align-items: center;
}

.itemDescription {
  margin: 0;
  font-size: 12px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.itemBadge {
  display: flex;
  color: #FFF;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #ed5565;
  font-size: 12px;
  font-weight: bold;
}

.location {
  overflow-y: auto;
  margin-bottom: 100px;
  padding-bottom: 10px;
  height: 500px;
}

.locationContainer {
  background-color: #f3f3f4;
  padding: 10px;
  margin-bottom: 5px;
}

.locationConfirm {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid #e7eaec;
  cursor: pointer;
  background-color: #FFF;
  margin-top: 10px;
}

.locationConfirmContent {
  margin-left: 6px;
  border-left: 1px solid #e7eaec;
  padding: 0 6px;
}

.h3Title {
  margin: 0;
  font-size: 16px;
}

.inputContainer {
  border: 1px solid #e7eaec;
  border-radius: 6px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 15px 0;
}

.input {
  border: none;
  padding-left: 8px;
  font-size: 16px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
}

.button-primary {
  background-image: linear-gradient(to right, #01CCA1, #1795B5);
  border: none;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.button-outline {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.btnFlex {
  width: 100%;
  flex: 0 0 33%;
  margin-right: 15px;
}

.terms {
  color: #337ab7;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.terms:hover {
  color: #23527c;
  text-decoration: underline;
  font-style: italic;
}

.shipFeeContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF
}
.shipFee {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.shipFeeItem {
  background: white;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  padding: 6px 4px;
  width: 100%;
}
.btnNext {
  margin: 10px;
}